<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Your Page Title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <style>
    body {
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    .header-container {
      margin: 20px;
    }
    .header-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .cart-area {
      display: flex;
      align-items: center;
    }
    /* Add your custom styles here */
  </style>
</head>
<body>
<div class="page-container">
  <div class="header-container">
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <app-search-bar></app-search-bar>
            <div class="cart-area">
              <a href="shopping-detail.html">
                <div class="total">0<span>0</span></div>
                <i class="fas fa-shopping-cart cart-icon"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
  <div> <router-outlet></router-outlet>

    <aside class="menu-sidebar d-none d-lg-block">

      <app-product-category-menu></app-product-category-menu>
    </aside></div>


</div>
</body>
</html>
